A sequence of n numbers is considered valid if the sequence begins with 1, ends with a given number j, and no two adjacent numbers are the same. Sequences may use any integers between 1 and a given number k, inclusive (also 1<=j<=k). Given parameters n, j, and k, count the number of valid sequences. The number of valid sequences may be very large, so express your answer modulo 1010+7.

In [1]:
#import function
import numpy as np

In [2]:
mo = int(10**10+7)

In [4]:
3**3

27

In [7]:
3**3 - 3**2 -  3

21

In [6]:
7+7+6

20

In [8]:
k=4

In [9]:
(k-1)**4 - (k-1)**3 + (k-1)**2 - (k-1)

60

In [21]:
def base_case(i,j,k):
    '''base case n=3'''
    if i == j:
        return (k-1)
    else:
        return (k-2)

In [31]:
k=4
j=2
total = 0
for i in range(2,k+1):
    total = total + base_case(i,j,k)
    
print(total)

7

In [75]:
def find_total(n,k,j,total=0,start=False ):
    'n >=4'
    for i in range(2,k+1):
        if n == 4:
            total = total + base_case(i,j,k)
        else:
            find_total(n-1,k,j) 
            
    return total

In [78]:
find_total(n=5,k=4,j=2,total=0)

0

In [52]:
def base_n3(i,y,j):
    if i==y or y==j:
        return 0
    else:
        return 1

In [62]:
k = 5
total = 0
for y in range(1,k+1):
    total = total + base_n3(1,y,2)

print(total)

3

In [69]:
def brute_force(m,i,k,j,total=0):
    if m ==3:
        for y in range(1,k+1):
            total = total + base_n3(i,y,j)
    
    if m>3: 
        for x in range(1,k+1):
            total = total + brute_force(m-1,x,k,j,total)
            
    return total

In [74]:
brute_force(m=3,i=1,k=4,j=1,total=0)

3

In [83]:
n = 4
m = 4 - 1
k = 4

for i in range(1,m):
    if i==1:
        num_1 = 0
        num_other = 1
        
    else:
        num_new_1 = num_other*(k-1)
        num_new_other = num_1 + (k-2)*(num_other)

print(num_new_1,num_new_other)

3 2

# First four problems

In [181]:
def forward(n,k,num_1=0,num_oth=1):
    '''
    n>=3
    a base function
    return a sequence for both j=1 and j!=1 case
    '''
    if n==2:
        return num_1, num_oth 
    elif n>2:
        num_1_new = num_oth*(k-1) 
        num_oth_new = num_1 + num_oth*(k-2)
        
        return forward(n-1,k,num_1_new, num_oth_new)

In [182]:
def use_forward(n,k,j):
    '''
    n >=3
    select a return case 
    '''
    modulo = 10**10+7
    if j==1:
        print('number of sequency =', forward(n,k)[0]%modulo)
    else:
        print('number of sequency =', forward(n,k)[1]%modulo)

In [144]:
use_forward(4,4,2)

7

In [145]:
use_forward(4,100,1)

9702

In [143]:
use_forward(100,100,1)

7934293301

In [146]:
use_forward(347,2281,829)

4403056638

# if n>3000 python prohibit the recursion and has to use for loop

In [153]:
n = int(1.26E6)
k = int(4.17E6)
j=1

In [167]:
n = 4
k = 4

for i in range(2,5):
    if i==2:
        num_1 = 0
        num_oth =1
    else:
        num_1_new = num_oth*(k-1) 
        num_oth_new = num_1 + num_oth*(k-2)
        num_1 = num_1_new
        num_oth = num_oth_new
        
print(num_1, num_oth)

6 7

In [176]:
def loop_forward(n,k):
    ''' n >=3
    find all possible sequence for both
    j=1 and j != 1
    return only modulo of 10**10 +7
    suitable for a large number '''
    modulo = 10**10 +7
    for i in range(2,n+1):
        if i==2:
            num_1 = 0
            num_oth = 1
        else:
            num_1_new = ((num_oth%modulo)*((k-1)%modulo))%modulo 
            num_oth_new = (num_1%modulo) + ((num_oth%modulo)*((k-2)%modulo))%modulo
            num_1 = num_1_new
            num_oth = num_oth_new
    
    return (num_1, num_oth)

In [184]:
def use_loop_forward(n,k,j):
    '''
    n >=3
    select a return case 
    '''
    if j==1:
        print('number of sequency =', loop_forward(n,k)[0])
    else:
        print('number of sequency =', loop_forward(n,k)[1])

In [188]:
use_loop_forward(4,4,2)

number of sequency = 7

In [189]:
use_loop_forward(4,100,1)

number of sequency = 9702

In [191]:
use_loop_forward(100,100,1)
use_loop_forward(347,2281,829)

number of sequency = 7934293301
number of sequency = 4403056638

In [185]:
use_loop_forward(int(1.26E6),int(4.17E6),1)

number of sequency = 1926411550

In [186]:
use_loop_forward(int(1E7),int(1E12),829)

number of sequency = 8051788353